{% extends 'base.html.twig' %}

{% block title %}Portefolio Adeline Gilet{% endblock %}

{% block body %}

    <div id="firstPart">
        <div class="principalTitle">
{#            <h1 id="typewriter">Adeline GILET<span id="cursor">|</span></h1>#}
            <h1 id="typewriter">Adeline GILET</h1>
            <h2 id="typewriter-delayed">Développeuse web</h2>
        </div>
        <a class="btn btn-outline-primary btn-lg" href="#secondPart">Plus d'info</a>
    </div>

    <div id="secondPart">
        <h1>Présentation</h1>
        <span class="qui-suis-je">Qui suis-je ?</span>
        <div class="aboutMe">
            <img src="{{ asset('images/photoPortfolio.jpg') }}" alt="ma Photo">
            <p>Bonjour,</p>
            <p>Je suis une <span class="dev-web">développeuse Web</span> junior formée à La <span class="dev-web">Wild Code School</span>,
                spécialisée dans le cursus <span class="dev-web">PHP, Symfony</span>,
                et réside actuellement à <span class="dev-web">Pessac</span>. Après huit ans dans le domaine du commerce, j'ai décidé de me
                reconvertir afin de travailler dans un domaine qui correspond davantage à mes aspirations.
            </p>
            <p>
                <span class="dev-web">Diplômée du TP de développeur Web</span>, je suis désireuse de renforcer mes nouvelles compétences. Dotée
                d'une curiosité naturelle et d'une grande autonomie, j'ambitionne d'intégrer un poste de développeuse
                Web afin de continuer à progresser sur le plan technique.
            </p>
            <p>
                Fascinée par les évolutions constantes du monde qui nous entoure, je suis ouverte à divers
                secteurs d'activité. Je suis convaincue que mon <span class="dev-web">parcours dans le domaine commercial</span> apporte
                une perspective unique à mon travail de développeuse Web, enrichissant ainsi ma capacité à <span class="dev-web">comprendre
                et répondre aux besoins des clients</span>.
            </p>

            <a href="{{ asset('docs/Cv-Adeline-Gilet-DevWeb.pdf') }}" target="_blank" download>
                <button class="btn btn-outline-primary btn-lg center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                    </svg>
                    Télécharger CV
                </button>
            </a>
        </div>
    </div>

    <div id="thirdPart">
        <h1>Portfolio</h1>

        <div class="project">
            <div class="div1"> <img src="{{ asset('images/Site_Vitrine_Baratie.png') }}" alt="Photo et lien du site vitrine du restaurant le Baratie"> </div>
            <div class="div2"> <img src="{{ asset('images/photoPortfolio.jpg') }}" alt="ma Photo"> d2 géocode </div>
            <div class="div3"> <img src="{{ asset('images/photoPortfolio.jpg') }}" alt="ma Photo"> d3 escape game</div>
            <div class="div4"> <img src="{{ asset('images/photoPortfolio.jpg') }}" alt="ma Photo"> d4 projet choko </div>
            <div class="div5"> <img src="{{ asset('images/photoPortfolio.jpg') }}" alt="ma Photo"> d5 bientot </div>
        </div>
    </div>



{% endblock %}
